---
import { Image } from 'astro:assets';
import { Debug } from 'astro:components';


interface Props {
	img: string;
    alt: string;
    card_title: string;
    url: string;
}

const { img, alt } = Astro.props;
const { card_title } = Astro.props;
const { url } = Astro.props;
const { img_url } = Astro.props;
---
<style>
    a {
        color: black;
        text-decoration: none;
    }
</style>
<div class="card border p-3 mt-2 mb-2" style="background-color: #f2f2f2;">
    <div>
        <a href={url}>
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col-12 text-center">
                            <p class="mb-0"><b>{ card_title }</b></p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="text-center">
                    <Image src={img_url} alt={alt} class="img-fluid" style="max-width: 100%; width: 1000px; height: 460px;">
                </div>
            </div>
        </a>
    </div>
</div>
