---
import Header from '../components/Header.astro';
import Menu from '../components/Menu.astro';
import Footer from '../components/Footer.astro';
import Card from '../components/Card.astro';
import Layout from '../layouts/Layout.astro';


const Cards_dynamic_content = [
  { 
    alt: "gato-placeholder",
    card_title: "Estudio sobre exclusión social",
    url: "/caca2",
  },
  {
    alt: "img-placeholder",
    card_title: "Prueba Cervantes y lenguaje autorreportado",
    url: "/caca",
  },
]
---
<Layout title="IDEL">
<!-- Page content -->
<div class="container mt-5">
  <!-- Project Section -->
  <div id="projects">
    <h3>Proyectos</h3>
  </div>
  <div id="cardContainer">
    {
      Cards_dynamic_content.map((data) => <Card alt={data.alt} card_title={data.card_title} url={data.url}></Card>)
    }
  </div>
  <!-- About Section -->
  <div>
    <h3>Sobre nosotros</h3>
    <p>
      Aquí puedes registrarte para participar en los experimentos del Laboratorio de Investigación en Desarrollo, Educación y Lenguaje (I+DELab). Nuestro laboratorio está en el campus de la UIB, en el edificio Guillem Cifre, pero también llevamos a cabo muchos estudios online.
      En esta sección de la web aparecerán los estudios disponibles y solo tendrás que hacer clic para participar.
      ¡Gracias por contribuir al progreso de la ciencia y la educación con nuestro grupo!
    </p>
  </div>
<!-- End page content -->
</div>
</Layout>